/vehicles.db
/lastrowid.py
/.DS_Store
/identifier.sqlite
/cards/style.xlsx
/cards/card.xlsx
/cards/Załącznik nr 6 Rozliczenie miesięczne zużycia paliwa.docx
/todo.py
/db.sqlite3
/migrations/
/users/migrations/
/cards
/sql