asgiref==3.6.0
beautifulsoup4==4.12.2
Django==4.2
django-bootstrap4==23.1
et-xmlfile==1.1.0
openpyxl==3.1.2
Pillow==9.5.0
pip-autoremove==0.10.0
python-decouple==3.8
reportlab==4.0.4
soupsieve==2.4
sqlparse==0.4.3
