table {
    background-color: #b4ae80;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

.tab_id {
    width: 0.5%;
    background-color: pink;
}

.tab {
    width: 15%;
    background-color: #228b22;
}

.btn {
    padding: 5px;
    margin: 0 3px;
    background-color: #ff7e00;
    outline: none;
    border: 1px solid #ff7e00;
    box-shadow: 2px 2px 2px #3f3f3f;
}

.btn1 {
    width: 50px;
}

.btn2 {
    width: 20px;
}

.btn3 {
    width: 20px;
}

button:hover {
    box-shadow: 2px 2px 3px;
}

button:active {
    box-shadow: 1px 1px 3px;
}

/*dodalem kropke przed body, nie wiem czy cos to zmienia - kropka dotyczy klasy body class='body' (nie sprawdzalem czy gdzies jest ta klasa*/
.body {
    background-color: #282a36;
    /*background-color: maroon;*/
}

.container {
    background-color: #282a36;
}


body {
    background-color: #E0E0E0;
}

.card-pricing.popular {
    z-index: 1;
    border: 1px solid #007bff;
}

.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
    font-weight: 300;
}

.btn {
    border-radius: 1px;
    font-weight: 300;
}

.hvr:hover {

    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff !important;
}

/*.center {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 200px;*/
/*    border: 3px solid green;*/
/*}*/


.container-fluid {
    background-color: #C5CAE9;
}

.heading {
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.card {
    border-radius: 10px !important;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-card {
    margin-left: 20px;
    margin-right: 20px;
}

.form-card input, .form-card textarea {
    padding: 10px 15px 5px 15px;
    border: none;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: arial;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

.form-card input:focus, .form-card textarea:focus {
    -moz-box-shadow: 0px 0px 0px 1.5px skyblue !important;
    -webkit-box-shadow: 0px 0px 0px 1.5px skyblue !important;
    box-shadow: 0px 0px 0px 1.5px skyblue !important;
    font-weight: bold;
    border: 1px solid #304FFE;
    outline-width: 0;
}

.input-group {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.input-group input {
    position: relative;
    height: 80px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 6px;
    padding-top: 30px;
    padding-left: 25px;
}

.input-group label {
    position: absolute;
    height: 24px;
    background: none;
    border-radius: 6px;
    line-height: 48px;
    font-size: 15px;
    color: gray;
    width: 100%;
    font-weight: 100;
    padding-left: 25px;
}

input:focus + label {
    color: #304FFE;
}

.btn-pay {
    background-color: #304FFE;
    height: 60px;
    color: #ffffff !important;
    font-weight: bold;
}

.btn-pay:hover {
    background-color: #3F51B5;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

img {
    border-radius: 5px;
}

.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    cursor: pointer;
    margin: 12px 25px 12px 0px;
}

.radio:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.radio.selected {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 155, 0.4);
    border: 2px solid blue;
}

.label-radio {
    font-weight: bold;
    color: #000000;
}