{% extends 'base.html' %}
{% block content %}
{% load static %}

<p></p>
<form method="post" action="{% url 'users:register_user' %}">

    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit" class="btn btn-primary">Create Account</button>
    <input type="hidden" name="next" value="{% url 'automobiles:home' %}"/>
</form>

<div class="space"></div>
<hr class="my-1">
<footer class="absolute">
    <div class="left">&copy; {{ current_year }} Some rights reserved.</div>
    <div class="right">IKONY GITHUB TWITTER FB</div>
</footer>
{% endblock content %}