{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<center>
    <h2>CONTACT</h2><br/><br/><br/>

    {% endblock page_header %}

    {% block content %}
    <form action="{% url 'automobiles:home' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <button>Send</button>
    </form>

    <form action="{% url 'automobiles:home' %}" method="POST">
        {% csrf_token %}
<!--        <button type="submit" class="btn btn-outline-secondary mb-3 hvr">Back</button>-->
    </form>
</center>

{% include 'footer.html' %}

{% endblock %}

