{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<center>
    <br/>
    <h2>CONTACT</h2>
    <br/>
    {% endblock page_header %}

    {% block content %}
    <form action="{% url 'automobiles:home' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Add To Newsletter
                </label>
            </div>
        </div><br/>
        <button class="btn btn-primary">Send</button>
    </form>
</center>

{% include 'footer.html' %}

{% endblock %}

