{% extends 'base.html' %}
{% block page_header %}
{% endblock page_header %}
{% block content %}

<br/>
<center><h1>ADD BRAND</h1></center><br/>
{% if submitted %}
<div class="alert alert-success" role="alert">
    <center>Your BRAND Was Submitted Succesfully !!!</center>
</div><br/>
<button type="submit" class="btn btn-outline-success mb-3 hvr text-warning">
    <a href="{% url 'automobiles:add_brand' %}">Add Next Brand</a>
</button>
<button class="btn btn-outline-success mb-3 hvr text-warning">
    <a href="{% url 'automobiles:home' %}">Home</a>
</button>
{% else %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}<br/>
    <button type="submit" class="btn btn-outline-info mb-3 hvr text-dark">
    <button type="submit" class="btn btn-outline-info mb-3 hvr text-dark">
        Add
    </button>
    <button type="submit" class="btn btn-outline-info mb-3 hvr text-info" style="margin-left: 25px;">
        <a href="{% url 'automobiles:home' %}">Home</a>
    </button>
</form>

{% endif %}
{% include 'footer.html' %}
{% endblock %}