{% extends 'base.html' %}
{% block page_header %}
{% endblock page_header %}
{% block content %}

</br>
<center><h1>ALL VEHICLES </h1></center>
</br>
{% for vehicle in vehicles_all %}
<div class="card">
    <div class="card-header">
        {{ vehicle.id }}. {{ vehicle }}
    </div>
    <div class="card-body">
        <h6 class="card-title">Vehicle: {{ vehicle }}</h6>
        <p class="card-text">
        <ul>
            <li>
                <strong>Registry number :</strong>{{ vehicle.reg_num }}
            </li>
            <li>
                <strong>Inspection Date :</strong>{{ vehicle.tech_inspection }}
            </li>
            <li>
                <strong>VIN :</strong>{{ vehicle.vin_num }}
            </li>
            <li>
                <strong>Driver(s) :</strong><br/>
                {% for user in vehicle.driver.all %}
                &#42; {{ user }}<br/>
                {% endfor %}
            </li>
            <li>
                <strong>Description :</strong>{{ vehicle.description }}
            </li>
        </ul>
        {% if vehicle.vehicle_image %}
        <img class='size' src="{{ vehicle.vehicle_image.url }}" width="100" height="100" alt=""/>
        {% endif %}
    </div>
</div>
</br></br>

{% endfor %}
{% include 'footer.html' %}
{% endblock %}