<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automobile</title>
<!--    {% load static %}-->
    <link href="style.css" rel="stylesheet">
</head>
<body>
<h2>VEHICLES</h2>
<table style="width:80%">
    <tr>
        <th style="width:0.5%" bgcolor="#228b22">ID
        </th>
        <th style="width: 15%" bgcolor="#228b22">Brand</th>
        <th style="width: 15%" bgcolor="#228b22">Model</th>
        <th style="width: 15%" bgcolor="#228b22">Reg number</th>
        <th style="width: 15%" bgcolor="#228b22">Edit</th>

    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>
            <button type="submit">Edit</button>
        </td>

    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>
            <button type="submit">Edit</button>
        </td>

    </tr>

</table>
<p>Vehicles </p>
</body>

</html>