{% extends 'base.html' %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

<center><h1>LIST VEHICLE from DATABASE</h1></center>

</br></br>

{% for vehicle in vehicle_list %}
<div class="card">
    <div class="card-header">
        {{ vehicle }}
    </div>
    <div class="card-body">
        <h5 class="card-title">vehicle: {{ vehicle }}</h5>
        <p class="card-text">
        <ul>
            <li><strong> number :</strong>{{ vehicle.reg_number }}</li>
            <li><strong>tech_insp :</strong>{{ vehicle.tech_insp }}</li>
        </ul>
        </p>
        <a href="#" class="btn btn-primary">EDIT</a>
    </div>
</div>
</br></br>

{% endfor %}


{% endblock %}