{% extends 'base.html' %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

<center><h1>LIST VEHICLE from DATABASE</h1></center>

</br></br>

{% for vehicle in vehicle_list %}
<div class="card">
    <div class="card-header">
        {{ vehicle.id }}. {{ vehicle }}
    </div>
    <div class="card-body">
        <h6 class="card-title">vehicle: {{ vehicle }}</h6>
        <p class="card-text">
        <ul>
            <li><strong>Registry number :</strong>{{ vehicle.reg_num }}</li>
            <li><strong>Inspection Date :</strong>{{ vehicle.tech_insp }}</li>
            <li><strong>VIN :</strong>{{ vehicle.vin_num }}</li>

            <li><strong>Driver(s) :</strong><br/>
                {% for user in vehicle.driver.all %}
                <font COLOR="RED">&#42; {{ user }}<br/></font>
                {% endfor %}
            </li>

            <li><strong>Description :</strong>{{ vehicle.description }}</li>
        </ul>
        </p>
        {% if vehicle.vehicle_image %}
        <img class='size' src="{{ vehicle.vehicle_image.url }}" alt=""/>
        {% endif %}
        <a href="#" class="btn btn-primary">EDIT</a>
    </div>
</div>
</br></br>

{% endfor %}

{% include 'footer.html' %}

{% endblock %}