<nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-secondary d-flex" style="background: #071013">
    <a class="navbar-brand" href="{% url 'automobiles:home' %}">
        <img src="/static/icons/company_logo.png" width="30"
             height="30" class="d-inline-block align-top"
             alt=""> AutoMobile
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Vehicles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=
                            "{% url 'automobiles:all_vehicles' %}">All
                        &raquo;
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'automobiles:list_vehicles' %}">List
                        &raquo;
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Brand
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=
                            "{% url 'automobiles:list_brand' %}">List
                        &raquo;
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Model
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=
                            "{% url 'automobiles:list_model' %}">List
                        &raquo;
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Drivers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=
                            "{% url 'automobiles:list_driver' %}">List
                        &raquo;
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Export
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       href="{% url 'automobiles:vehicle_text' %}">Vehicles to
                        Text File &raquo;
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'automobiles:vehicle_csv' %}">Vehicles to
                        CSV File &raquo;
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'automobiles:vehicle_pdf' %}">Vehicles to
                        PDF File &raquo;
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <center><p>Hello, {{ user.username.capitalize }}.</p>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href=
                                "{% url 'users:logout' %}"><strong>Log
                            out</strong>
                        </a>
                        <!--                        &lt;!&ndash;                        <a class="dropdown-item" href=&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                                "{% url 'users:delete_user' %}">Delete&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                            Account&ndash;&gt;-->
                        <!--                        &lt;!&ndash;                        </a>&ndash;&gt;-->
                        <!--                    </center>-->
                        <!--                </div>-->
            </li>
            <form class="form-inline" method=POST
                  action="{% url 'automobiles:search_vehicles' %}">
                {% csrf_token %}
                <input class="form-control"
                       style="width: 150px; background: #ecf1f9;" type="search"
                       placeholder="Search vehicle" aria-label="Search"
                       name='searched'>
                <button class="btn btn-outline-danger text-white"
                        style="width: 75px;margin-left: 10px;background: #EB5160"
                        type="submit">
                    Search
                </button>
            </form>
            {% else %}
            <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'pricing:pricing' %}">Pricing
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact:msg_me' %}">Contact
                    Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=
                        "{% url 'automobiles:add_vehicle' %}">Add Vehicle
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    SIGN IN
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href=
                            "{% url 'users:login' %}"><b>MyAccount:</b>
                        manage your subscription >
                    </a>
                    <a class="dropdown-item" href="{% url 'users:login' %}">
                        <b>Cloud Console:</b>
                        manage your cloud business product >
                    </a>
                    <a class="dropdown-item" href="{% url 'users:login' %}">
                        <b>Partner Portal:</b>
                        management for Resellers >
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>