{% extends 'base.html' %}

{% block page_header %}
{% endblock page_header %}

{% block content %}

<center><h1>model {{model_show.id}}</h1>
        <br/>
        <div class="card">
            <div class="card-header">
                {{model_show.id}}. {{ model_show }}
            </div>
            <div class="card-body">
    <!--            <h6 class="card-title"></h6>-->
                <p class="card-text">
                    <ul>
                        Name: {{ model_show.name }}<br/>
                DUPA a jak
                    </ul>
                </p>
            </div>
        </div>
        <br/>

    </center>
    {% include 'footer.html' %}

{% endblock %}