{% extends 'base.html' %}
{% block page_header %}
{% endblock page_header %}
{% block content %}<br/>
<center>
    <!--        <h1>VEHICLE: {{vehicle_show.id}}</h1>-->
    <br/>
    <div class="card">
        <div class="card-header">
            <strong>{{vehicle_show.id}}. {{ vehicle_show }}</strong>
        </div>
        <div class="card-body">
            <!--                <h6 class="card-title"></h6>-->
            <p class="card-text">
                <ul>
                    Registration Number: {{ vehicle_show.reg_num }}<br/>
                    Technical Inspection: {{ vehicle_show.tech_inspection }}<br/>
                    VIN: {{ vehicle_show.vin_num }}<br/>
                    Description: {{ vehicle_show.description }}<br/>
                </ul>
            </p>
            {% if vehicle.vehicle_image %}
            <img class='size' src="{{ vehicle.vehicle_image.url }}" alt=""/>
            {% endif %}
            <a href="#" class="btn btn-secondary">EDIT</a>
        </div>
    </div>
    <br/>
</center>
{% include 'footer.html' %}

{% endblock %}


