{% extends 'base.html' %}
{% block page_header %}
{% endblock page_header %}
{% block content %}

<br/><center>
    <br/>
    <div class="card">
        <div class="card-header">
            {{brand_show.id}}. {{ brand_show }}
        </div>
        <div class="card-body">
            <p class="card-text">
            <ul>
                Brand Name: {{ brand_show.name }}<br/>
            </ul>
            </p>
        </div>
    </div>
    <br/>

</center>

{% include 'footer.html' %}
{% endblock %}