{% extends 'base.html' %}
{% block page_header %}
{% endblock page_header %}
{% block content %}

<br/><h1>Edit Vehicle: {{ vehicle_update }}</h1><br/>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}<br/>
    <button type="submit" class="btn btn-outline-info mb-3 hvr text-dark">Update
    </button>
    <button type="submit" class="btn btn-outline-info mb-3 hvr text-info"
            style="margin-left: 25px;">
        <a href="{% url 'automobiles:home' %}">Home &raquo;&raquo;&raquo;</a>
    </button>
</form>
</br></br>

{% include 'footer.html' %}
{% endblock %}